@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{ 
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}
<!-- uncomment this line if you don't want it to appear in the top navigation <a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a> -->

@foreach (var item in selection)
{
    if(item.Name != "Training" && item.Name != "HOME" && item.Name != "Stress" && item.Name != "Nutrition" && !item.Name.ToLower().Contains("thyroid course") )
    {
     <li class="nav-item" style="font-family: 'Poppins' !important;">
            <a class="@(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url" style="text-transform: uppercase; display: inline; line-height: 20px;">@item.Name</a>
            @if (item.Name == "THYROID THERAPY"){
                    <ul class="dropdown-menu"  style="font-family: 'Poppins' !important; display: block;">
                    @* @{var subMenuItems = item.Children;} *@
                    @if(item.Children.Count() > 0) {
                        foreach (var sub in item.Children) {
                            <li class="nav-item" style="font-family: 'Poppins' !important;"><a href="@sub.Url">@sub.Name</a></li>
                        }
                    }
                    </ul>
            }
            
            
     </li>
    }
}