@model System.ServiceModel.Syndication.SyndicationItem

@{
    ViewBag.Title = "Sides And Desserts";
}

<h2 style="text-align:center; padding-bottom: 50px; padding-top: 50px; color: white !important; background-color: #2779A8;"><b>@Model.Title.Text</b></h2>


<div style="border-bottom: 1px solid black; background-color: #f0f0f0;">
    <div class="CenterAndRestrictWidth RecipeDiv" >
        <div class="col-lg-10 RecipeDiv">
            @(Html.Raw(((System.ServiceModel.Syndication.TextSyndicationContent)Model.Content).Text))
            <p style="color: #000000; font-size: 16px; padding: 20px;">@String.Format("Published: {0:ddd, MMM d, yyyy}", @Model.PublishDate)</p>
        </div>
    </div>
    <div style="padding: 24px;  margin: 0 auto;">
        <button type="button" id="LearnMoreMain" class="btn-lg btn-sample2 text-center" style="margin: 0 auto; display:block;" onclick="location.href='@Url.Action("HealthyRecipes", "Home")'"><b>Back to Healthy Recipes</b></button>
    </div>
</div>


