@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Corporate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


@{
    ViewBag.Title = @Umbraco.Field("pageTitle");
}

@section MetaData{
    <meta name="description" content=@Umbraco.Field("descriptionMetadata") />
}


 <!--Mobile  -->
 @if(CurrentPage.HasValue("mainMobileImage")) {
  <img src="@CurrentPage.mainMobileImage.Url" alt="@CurrentPage.mainMobileImage.Name" style="width: 100%; height: 100%;" class="d-lg-none"/>
 }

<!-- Desktop -->
 @if(CurrentPage.HasValue("mainDesktopImage")) {
  <img src="@CurrentPage.mainDesktopImage.Url" alt="@CurrentPage.mainDesktopImage.Name" style="width: 100%; height: 100%;" class="d-none d-lg-block"/>
 }

@if(CurrentPage.HasValue("bannerText")) {
<div class="pageCaption">
    <h3 class="CenterAndRestrictWidth">
        @Umbraco.Field("bannerText")
    </h3>
</div>
}

@Umbraco.Field("fullWidthArea1Title")

<div class="contentSection" style="background-color: white;">
    <div class="CenterAndRestrictWidth">
            @if(CurrentPage.HasValue("fullWidthArea1Title")) {
        <h2 style="padding: 24px 0;"> @Umbraco.Field("fullWidthArea1Title")</h2>}
        <div style="padding: 24px 0;" >
             @if(CurrentPage.HasValue("fullWidthArea1Content")) {
                <p>@Umbraco.Field("fullWidthArea1Content")</p>
            }
        </div>
        <p></p>
    </div>
</div>

 <div  class="contentSection grey-background" >
        <div class="CenterAndRestrictWidth nopadding row">
            <div class="col-md-6 nopadding">
                @if(CurrentPage.HasValue("area2Column1Title")) {
                    <h3 class="subheading">@Umbraco.Field("area2Column1Title")</h3>
                }
                @if(CurrentPage.HasValue("area2Column1Picture")) {
                    <img src="@CurrentPage.area2Column1Picture.Url" alt="@CurrentPage.area2Column1Picture.Name" style="width:100%; height: auto;padding: 30px;padding-top: 18px; padding-bottom: 12px;"/>
                }
                @if(CurrentPage.HasValue("area2Column1TextBelowPicture")) {
                <div style="padding-left: 30px; padding-right: 30px;  padding-top: 24px;">@Umbraco.Field("area2Column1TextBelowPicture")</div>
                }
            </div>
            <div class="col-md-6 nopadding">
               @if(CurrentPage.HasValue("area2Column2Title")) {
                    <h3 class="subheading">@Umbraco.Field("area2Column2Title")</h3>
                }
                @if(CurrentPage.HasValue("area2Column2Picture")) {
                    <img src="@CurrentPage.area2Column2Picture.Url" alt="@CurrentPage.area2Column2Picture.Name" style="width:100%; height: auto;padding: 30px;padding-top: 18px; padding-bottom: 12px;"/>
                }
                @if(CurrentPage.HasValue("area2Column2TextBelowPicture")) {
                <div style="padding-left: 30px; padding-right: 30px;  padding-top: 24px;">@Umbraco.Field("area2Column2TextBelowPicture")</div>
                }            
                </div>
        </div>
    </div>
    
 
    
