@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Training>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@{
    ViewBag.Title = @Umbraco.Field("pageTitle");
}

@section MetaData{
    <meta name="description" content=@Umbraco.Field("descriptionMetadata") />
}


 @if(CurrentPage.HasValue("topMobileImage")) {
<div class="d-lg-none">
    <img src="@CurrentPage.topMobileImage.Url" alt="@CurrentPage.topMobileImage.Name" style="width: 100%; height: 100%;" />
</div>
}



<div class="nopadding d-none d-lg-block" style="width: 100%; border: 0px !important;">
        <video id="video" class="nopadding hidden-sm-down" controls="controls" alt="Beyond Balance training video" autoplay="autoplay" poster="@CurrentPage.backgroundImage.Url" style="bottom:0; height: auto; position: absolute;height: 85vh;border: 0;">
            <source src="@CurrentPage.mP4VideoFile.Url" type="video/mp4" />
            <source src=@CurrentPage.webmVideoFile.Url" type="video/webm" />
        </video>
</div>


@if(CurrentPage.HasValue("bannerText")) {
<div class="pageCaption">
    <h3 class="CenterAndRestrictWidth">
        @Umbraco.Field("bannerText")
    </h3>
</div>
}

<div class="contentSection">



    @if(CurrentPage.HasValue("fullWidthArea1Title")) {<h2>@Umbraco.Field("fullWidthArea1Title")</h2>}
    @if(CurrentPage.HasValue("fullWidthArea1Content")) {
    <div style="font-size:20px; margin-bottom: 0px; padding-bottom: 24px;">
        @Umbraco.Field("fullWidthArea1Content")
          </div>}
    <div class="CenterAndRestrictWidth nopadding row">
        <div class="col-md-6 nopadding" style="padding: 24px;padding-bottom:0px;">
            <img src="@CurrentPage.column1PictureArea2.Url" alt="@CurrentPage.column1PictureArea2.Name" style="width:100%; height: auto;padding: 23px; padding-bottom:0px;" />
        </div>
        <div class="col-md-6 nopadding" style="padding: 24px;padding-bottom:0px;">
            <img src="@CurrentPage.column2PictureArea2.Url" alt="@CurrentPage.column2PictureArea2.Name" style="width:100%; height: auto;padding: 23px; padding-bottom:0px;" />
        </div>
    </div>
</div>

<div style="padding-bottom: 1em;" class="contentSection YourExperience">
    <div class="CenterAndRestrictWidth">
         @if(CurrentPage.HasValue("area3Title")) {<h2 style="display: block" >@Umbraco.Field("area3Title")</h2>}
              <div class="row">
            <div class="col-md-6 no-gutters">
                <div style="padding: 24px">@Umbraco.Field("column1Area3")</div>
            </div>
            <div class="col-md-6 no-gutters">
                <div style="padding: 24px">@Umbraco.Field("column2Area3")</div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
var myVideo=document.getElementById("video");
var postVidPic = document.getElementById("postVideoImage");
var hasFinished = false;

//function playPause() {
//    if (hasFinished == false) {
//        if (myVideo.paused)
//            myVideo.play();
//        else
//            myVideo.pause();
//    }
//}



//myVideo.onended = function () {
   // video.setAttribute("controls", "controls");
   // hasFinished = true;
    //var height = $(myVideo).height();
    //var width = $(myVideo).width();
    //$(myVideo).css("display", "none");
    //$(postVidPic).css("display", "block");
    //$(postVidPic).css("width", width+"px" );
    //$(postVidPic).css("height", height+"px");
    //var postVidPic = do
    //alert("The video has ended" + height + " " + width);
//};

</script>
}