@model BeyondBalance.Models.BothRecipesWithSides

<div class="contentSection grey-background">
    <h2 id="RecipesHeader" onclick="document.location.href='/Home/HealthyRecipes'">Latest Healthy Recipes</h2>
    <div class="CenterAndRestrictWidth row">
        <div class="col-md-6 nopadding">
            @foreach (var item in Model.rssCollection)
            {
                <div class="HealthyRecipeSummary" id="MealDiv0">
                    <p style="color: #444444; font-size: 22px; font-weight: bold; margin-bottom: 0px;">@item.Title</p>
                    @{
                        string categoryString = "";
                        foreach (var category in @item.CategoryStrings)
                        {
                            if (category == "dinner")
                            {
                                if (categoryString == "") { categoryString = categoryString + "DINNER"; }
                                else { categoryString = categoryString + " & DINNER"; }
                            }
                            if (category == "lunch")
                            {
                                if (categoryString == "") { categoryString = categoryString + "LUNCH"; }
                                else { categoryString = categoryString + " & LUNCH"; }
                            }
                            if (category == "breakfast")
                            {
                                if (categoryString == "") { categoryString = categoryString + "BREAKFAST"; }
                                else { categoryString = categoryString + " & BREAKFAST"; }
                            }
                        }
                        <p style="color: black; padding:0px;">(@categoryString)</p>
                    }
                    <div id="hideoverflow">
                        <div id="outer">
                            <div id="inner">
                                <img src="@item.PictureSRC" class="center-block" style="width:auto;height:200px; " />
                            </div>
                        </div>
                    </div>

                    <div style="padding: 24px;">
                        <button type="button" id="LearnMoreMain" class="btn btn-sample3 text-center" style="margin: 0 auto; display:block;" onclick="location.href='@Url.Action("MainMeals", "Home",new { id = 0 })'">Read More</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6 nopadding">
            @foreach (var item in Model.rssCollection2)
            {
                <div class="HealthyRecipeSummary" id="SnackDiv0">
                    <p style="color: #2779A8; font-size: 22px; font-weight: bold; margin-bottom: 0px;">@item.Title</p>
                    @{
                        string categoryString = "";
                        foreach (var category in @item.CategoryStrings)
                        {
                            if (category == "sides")
                            {
                                if (categoryString == "") { categoryString = categoryString + "SIDE"; }
                                else { categoryString = categoryString + " & SIDE"; }
                            }
                            if (category == "dessert" || category == "desserts")
                            {
                                if (categoryString == "") { categoryString = categoryString + "DESSERT"; }
                                else { categoryString = categoryString + " & DESSERT"; }
                            }
                        }
                        <p style="color: black; padding:0px;">(@categoryString)</p>
                    }
                    <div></div>
                    <div id="hideoverflow">
                        <div id="outer">
                            <div id="inner">
                                <img src="@item.PictureSRC" class="center-block" style="width:auto;height:200px; " />
                            </div>
                        </div>
                    </div>
                    <div style="padding: 24px;">
                        <button type="button" id="LearnMoreMain" class="btn btn-sample2 text-center" style="margin: 0 auto; display:block;" onclick="location.href='@Url.Action("BreakfastsAndSides", "Home",new { id = 0 })'">Read More</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>